<div class="container">
  <mat-form-field>
    <textarea matInput placeholder="Location description*" [(ngModel)]="form.location"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone number*" [(ngModel)]="form.phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Mobile number*" [(ngModel)]="form.mobile">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Floor" [(ngModel)]="form.floor">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Room" [(ngModel)]="form.room">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="postLocation()">Start session</button>
</div>
