<div class="container">
  <h1>Sign in</h1>
  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="user.email">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Firstname" [(ngModel)]="user.firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Lastname" [(ngModel)]="user.lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="user.username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" [(ngModel)]="user.password">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="signin()">Sign in</button>
</div>