<div class="container" *ngIf="user && start">
    <mat-card class="card">
        <button mat-raised-button color="warn" *ngIf="!isAlertPending" (click)="startAlertCountdown()">
            Send alert
        </button>
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" *ngIf="isAlertPending">
            <h3>An alert will be sent in:</h3>
        </mat-card-title>
        <mat-card-content *ngIf="isAlertPending">
            <countdown #counterPendingAlert [config]="{leftTime: 10}"
                (finished)="sendAlert()">
                $!m!:$!s!
            </countdown>
            <button mat-raised-button color="accent" (click)="cancelAlert()">
                Cancel
            </button>
        </mat-card-content>
    </mat-card>
</div>
<div class="container" *ngIf="user && start">
    <mat-card class="card">
        <button mat-raised-button color="primary" (click)="stopSession()">
            Stop session
        </button>
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>How are you?</h3>
        </mat-card-title>
        <mat-card-content>
            <countdown #counterIsAlive [config]="{leftTime: 300}">
                $!m!:$!s!
            </countdown>
            <button mat-raised-button color="primary" (click)="updateSession()">
                I'm alive
            </button>
        </mat-card-content>
    </mat-card>
</div>
<div class="container" *ngIf="user && start">
    <mat-card class="card" >
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Someone need help?</h3>
        </mat-card-title>
        <mat-card-content>
            <div *ngFor="let user of usersNeedHelp">
                <p>{{user.user.username}}</p>
                <p>{{user.user.email}}</p>
                <p>{{user.mobile}}</p>
                <p>{{user.phone}}</p>
                <hr/>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<app-form-session *ngIf="user && !start" (startSession)="startSession()"></app-form-session>
